<h1>Index Page</h1>

<% @blog_posts.each do |blog_post| %>
    <div>
        <div>
            <h2> <%= blog_post.title %> </h2>
        </div>
        <div>
            <h2> <%= blog_post.body %> </h2>
        </div>
        <div>
            <h2> <%= link_to "Go Details", "/blog_posts/#{blog_post.id}" %> </h2>
            <h2> <%= link_to "Go Details", blog_post_path(blog_post.id) %> </h2>
            <h2> <%= link_to "Go Details", blog_post %> </h2>
        </div>
    </div>
<% end %>
